body{
    overflow-x: hidden;
}

#Login-btn{
    display: none;
}

#sub{
    font-size: .9rem;
    color: #818181;
}

#lbl-check{
    font-size: 1rem;
}

.btn{
    background-color: rgb(230, 138, 0);
    border-color: rgb(230, 138, 0);
    color: #fff !important;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    transform: scale(1.05);
    background-color: rgb(199, 120, 2);
    border-color: rgb(199, 120, 2);
}

#forgot, #term{
    text-decoration: none;
    color: rgb(199, 120, 2);
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

#term{
    text-decoration: underline;
}

#forgot:hover, #term:hover{
    color: rgb(230, 138, 0);
}

/* Estilos para los contenedores de formularios */
.form-container {
    position: relative;
    width: 100%;
    transition: height 0.5s ease-in-out;
}

#form-login, #form-register {
    position: absolute;
    top: 0;
    width: 100%;
    transition: transform 0.4s ease-in-out, opacity 0.1s ease-in-out;
}

#form-login {
    left: 0;
}

#form-register {
    left: 0;
    transform: translateX(100%);
    opacity: 0;
}

.slide-left {
    transform: translateX(-100%) !important;
    opacity: 0 !important;
}

.slide-right {
    transform: translateX(0) !important;
    opacity: 1 !important;
}